In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://en.wikipedia.org/wiki/COVID-19_pandemic_in_India"

In [3]:
response =requests.get(url)

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')

In [5]:
table = soup.find('table', attrs={'class':'wikitable'})

In [6]:
trs1 = table.select("tbody tr")[3:21]
trs2 = table.select("tbody tr")[22:39]
trs =trs1+trs2

In [7]:
State = []
Cases = []
Deaths = []
Recoveries = []
Active = []

In [8]:
import re
for tr in trs:
    th = tr.find("th", attrs={'scope': 'row'})
    State.append(th.find('a').text)
    
    tds = tr.find_all("td")
    c=tds[0].text.replace('\n', '').strip()
    if (re.search("[a-z]", c)):
        c=c[:-3]
    Cases.append(c.replace(",", "").strip())
    
    d=tds[1].text.replace('\n', '').strip()
    if (re.search("[a-z]", d)):
        d=d[:-3]
    Deaths.append(d.replace(",", "").strip())
    
    r=tds[0].text.replace('\n', '').strip()
    if (re.search("[a-z]", r)):
        r=r[:-3]
    Recoveries.append(r.replace(",", "").strip())
    
    a=tds[0].text.replace('\n', '').strip()
    if (re.search("[a-z]", a)):
        a=a[:-3]
    Active.append(a.replace(",", "").strip())

In [9]:
data = list(zip(State, Cases, Deaths, Recoveries, Active))

In [10]:
India_covid = pd.DataFrame(data, columns=['Name of State / UT', 'Cases', 'Deaths', 'Recoveries', 'Active'])

In [11]:
India_covid.Cases = India_covid.Cases.astype(int)
India_covid.Deaths = India_covid.Deaths.astype(int)
India_covid.Recoveries = India_covid.Recoveries.astype(int)
India_covid.Active = India_covid.Active.astype(int)

In [12]:
India_covid.dtypes

Name of State / UT    object
Cases                  int32
Deaths                 int32
Recoveries             int32
Active                 int32
dtype: object

In [13]:
India_covid.to_csv("India_covid.csv")

In [14]:
#India_covid.sort_values("Cases", ascending=False, inplace=True)
#India_covid.reset_index(drop=True, inplace=True)
India_covid.sort_values("Name of State / UT", inplace=True)
India_covid.reset_index(drop=True, inplace=True)

In [15]:
Indian_coord = pd.read_csv(r"C:\Users\akshada\Downloads\Indian Coordinates.csv")

In [16]:
Indian_coord.drop("Unnamed: 3", axis=1, inplace=True)
Indian_coord.drop(Indian_coord.index[16], axis=0, inplace=True)
Indian_coord.sort_values("Name of State / UT", inplace=True)
Indian_coord.reset_index(drop=True, inplace=True)
Indian_coord

         Name of State / UT   Latitude  Longitude
0      Andaman And Nicobar   11.667026  92.735983
1            Andhra Pradesh  14.750429  78.570026
2        Arunachal Pradesh   27.100399  93.616601
3                    Assam   26.749981  94.216667
4                    Bihar   25.785414  87.479973
5                Chandigarh  30.719997  76.780006
6             Chhattisgarh   22.090420  82.159987
7   Dadra And Nagar Haveli   20.266578  73.016618
8                     Delhi  28.669993  77.230004
9                      Goa   15.491997  73.818001
10                  Gujarat  22.258700  71.192400
11                  Haryana  28.450006  77.019991
12        Himachal Pradesh   31.100025  77.166597
13        Jammu and Kashmir  33.450000  76.240000
14               Jharkhand   23.800393  86.419986
15                Karnataka  12.570381  76.919997
16                   Kerala   8.900373  76.569993
17                   Ladakh  34.100000  77.340000
18          Madhya Pradesh   21.300391  76.130019
19              Maharashtra  19.250232  73.160175
20                 Manipur   24.799971  93.950017
21               Meghalaya   25.570492  91.880014
22                 Mizoram   23.710399  92.720015
23                Nagaland   25.666998  94.116570
24                   Odisha  19.820430  85.900017
25              Pondicherry  11.934994  79.830000
26                   Punjab  31.519974  75.980003
27                Rajasthan  26.449999  74.639981
28                  Sikkim   27.333330  88.616647
29               Tamil Nadu  12.920386  79.150042
30                Telengana  18.112400  79.019300
31                 Tripura   23.835404  91.279999
32            Uttar Pradesh  27.599981  78.050006
33              Uttarakhand  30.320409  78.050006
34             West Bengal   22.580390  88.329947

In [17]:
for i in range(len(Indian_coord)):
    if Indian_coord["Name of State / UT"][i] == India_covid["Name of State / UT"][i]:
        pass
    else:
        Indian_coord["Name of State / UT"][i] = India_covid["Name of State / UT"][i]

C:\Users\akshada\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [18]:
india = pd.merge(Indian_coord, India_covid, on='Name of State / UT')

In [19]:
india

,Name of State / UT,Latitude,Longitude,Cases,Deaths,Recoveries,Active
0,Andaman and Nicobar Islands,11.667026,92.735983,48,0,48,48
1,Andhra Pradesh,14.750429,78.570026,9372,111,9372,9372
2,Arunachal Pradesh,27.100399,93.616601,139,0,139,139
3,Assam,26.749981,94.216667,5586,9,5586,5586
4,Bihar,25.785414,87.479973,7825,55,7825,7825
5,Chandigarh,30.719997,76.780006,411,6,411,411
6,Chhattisgarh,22.090420,82.159987,2303,12,2303,2303
7,Dadra and Nagar Haveli and Daman and Diu,20.266578,73.016618,91,0,91,91
8,Delhi,28.669993,77.230004,62655,2233,62655,62655
9,Goa,15.491997,73.818001,864,1,864,864
10,Gujarat,22.258700,71.192400,27825,1684,27825,27825
11,Haryana,28.450006,77.019991,11025,169,11025,11025
12,Himachal Pradesh,31.100025,77.166597,727,8,727,727
13,Jammu and Kashmir,33.450000,76.240000,6088,85,6088,6088
14,Jharkhand,23.800393,86.419986,2137,11,2137,2137
15,Karnataka,12.570381,76.919997,9399,142,9399,9399
16,Kerala,8.900373,76.569993,3310,21,3310,3310
17,Ladakh,34.100000,77.340000,847,1,847,847
18,Madhya Pradesh,21.300391,76.130019,12078,521,12078,12078
19,Maharashtra,19.250232,73.160175,135796,6283,135796,135796
20,Manipur,24.799971,93.950017,898,0,898,898
21,Meghalaya,25.570492,91.880014,44,1,44,44
22,Mizoram,23.710399,92.720015,141,0,141,141
23,Nagaland,25.666998,94.116570,280,0,280,280
24,Odisha,19.820430,85.900017,5303,15,5303,5303
25,Puducherry,11.934994,79.830000,383,8,383,383
26,Punjab,31.519974,75.980003,4235,101,4235,4235
27,Rajasthan,26.449999,74.639981,15232,356,15232,15232
28,Sikkim,27.333330,88.616647,78,0,78,78
29,Tamil Nadu,12.920386,79.150042,62087,794,62087,62087
30,Telangana,18.112400,79.019300,8674,217,8674,8674
31,Tripura,23.835404,91.279999,1237,1,1237,1237
32,Uttar Pradesh,27.599981,78.050006,18322,569,18322,18322
33,Uttarakhand,30.320409,78.050006,2402,28,2402,2402
34,West Bengal,22.580390,88.329947,14358,569,14358,14358

In [20]:
india.to_csv("india.csv")