### Import all necessary libraries

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Send a request to the website

In [3]:
response = requests.get("https://en.wikipedia.org/wiki/COVID-19_pandemic")

In [4]:
response.status_code

200

### Create a BeautifulSoup object

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')

In [6]:
#soup.prettify()

### Search for required data and extract it

In [7]:
print(soup.title.text)

COVID-19 pandemic - Wikipedia

In [8]:
table= soup.find('table', attrs={"class" : "wikitable"})

In [9]:
trs = table.select("tbody tr")[2:230]

#### Extracting data for one row/ country..

In [47]:
tr1 = trs[3]
th1 = tr1.find_all("th", attrs = {'scope' : 'row'})
th1

[<th scope="row"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/23px-Flag_of_Russia.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/35px-Flag_of_Russia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/45px-Flag_of_Russia.svg.png 2x" width="23"/>
 </th>,
 <th scope="row"><a href="/wiki/COVID-19_pandemic_in_Russia" title="COVID-19 pandemic in Russia">Russia</a><sup class="reference" id="cite_ref-55"><a href="#cite_note-55">[j]</a></sup>
 </th>]

We need data from the 'a' tag of second 'th' tag of tr1

In [48]:
print(th1[1].find('a').text)

Russia

#### Extracting number of cases, deaths and recoveries for one country..

In [49]:
td1 = tr1.find_all("td")
print(td1)

[<td>520,129
</td>, <td>6,829
</td>, <td>274,641
</td>, <td><sup class="reference" id="cite_ref-56"><a href="#cite_note-56">[46]</a></sup>
</td>]

In [50]:
print(td1[0].text, 
      td1[1].text, 
      td1[2].text)

520,129
 6,829
 274,641

We'll see some values preceeded by '/n' used for new line in the HTML code. 
replace() function is used to get rid of it.

#### Write the same code in a loop to extract values for all the countries.

In [51]:
Country = []
Cases = []
Deaths = []
Recoveries = []

In [17]:
for tr in trs:
    Country.append(tr.find_all("th", attrs = {'scope' : 'row'})[1].find('a').text) 
    
    tds = tr.find_all("td")
    Cases.append(tds[0].text.replace("\n", "").strip())
    Deaths.append(tds[1].text.replace("\n", "").strip())
    Recoveries.append(tds[2].text.replace("\n", "").strip())

#### Store extracted data in a dataframe

In [11]:
data = list(zip(Country, Cases, Deaths, Recoveries))

In [12]:
COVID_data = pd.DataFrame(data, columns=['Country', 'Cases', 'Deaths', 'Recoveries'])

In [13]:
COVID_data.head(10)

          Country      Cases   Deaths Recoveries
0   United States  2,070,199  115,665    622,124
1          Brazil    805,649   41,058    396,692
2          Russia    511,423    6,715    269,370
3           India    297,535    8,498    147,195
4  United Kingdom    292,950   41,481    No data
5           Spain    242,707   27,136    150,376
6           Italy    236,305   34,223    173,085
7            Peru    214,788    6,109    102,429
8         Germany    186,928    8,853    171,522
9            Iran    182,545    8,659    144,649

In [14]:
COVID_data.shape

(228, 4)